BotHelper/BotHelper/obj/


BotHelper/TestWindowApp/obj/
BotHelper/.vs/
BotHelper/BotHelper/bin/
BotHelper/packages/
BotHelper/TestWindowApp/bin/
BotHelper/KeySymulator/bin/
BotHelper/KeySymulator/obj/
BotHelper/PictureRecognizer/bin/
BotHelper/PictureRecognizer/obj/
BotHelper/KeySymulator2/bin/
BotHelper/KeySymulator2/obj/
BotHelper/PictureRecognizer2/bin/
BotHelper/PictureRecognizer2/obj/
